workspace/zephyr/
workspace/.west/
workspace/modules/
workspace/tools/
workspace/bootloader/
workspace/microvalve/build/
workspace/build
.west/
bootloader/
modules/
tools/
zephyr/

!workspace/zephyr/boards/arm/custom_breakout

[Bb][Uu][Ii][Ll][Dd]

**/.vscode/**
**.vscode/

*.code-workspace


### Ignore list for KiCAD Projects ###
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
# Netlist files (exported from Eeschema)
*.net
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
#######################################
