workspace/zephyr/
workspace/.west/
workspace/modules/
workspace/tools/
workspace/bootloader/
workspace/microvalve/build/
workspace/build
.west/
bootloader/
modules/
tools/
zephyr/

!workspace/zephyr/boards/arm/custom_breakout

[Bb][Uu][Ii][Ll][Dd]

**/.vscode/**
**.vscode/

*.code-workspace
